<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="TEST-LOG-FILE" class="ch.qos.logback.core.FileAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
    <file>target/test-log.txt</file>
  </appender>

  <root level="all">
    <appender-ref ref="TEST-LOG-FILE" />
  </root>
</configuration>